<h1> Welcome to DJ Scratch Trax!  Please login to continue </h1>
<head>
<meta charset="UTF-8" />
<div class="jumbotron">

   <p>
  <%= link_to "Sign In", new_session_path %> or 
  <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %>
   </p>
 </div>

<script type="text/javascript" src="../../../script/soundmanager2.js"></script>
<script src="../../assets/javascripts/turntable.js"></script>
<script src="../../assets/javascripts/turntable-app.js"></script>

</head>

<body>


  <div style="position:relative">

    <!-- start turntable: centered and scales up to a predetermined max-width (based on image size) -->

    <div style="position:relative;text-align:center">

      <!-- note: inline-block is just for centering -->

      <div id="turntable-large" class="turntable has-slipmat power-on" style="display:inline-block">

        <div class="frame"></div>

        <div class="table-bg"></div>

        <!-- image that sets the base dimensions-->
        <img src="image/tt_case_and_lighting.png" alt="" class="stub">

        <div class="bd">

          <div class="platter"></div>

          <div class="slipmat-holder">
            <div class="slipmat"></div>
          </div>

          <div class="record-holder">
            <div class="record"></div>
            <div class="record-grooves"></div>
            <div class="label"></div>
          </div>

          <div class="spindle"></div>
          <div class="power-light"></div>
          <a href="#" class="power-dial" data-method="powerToggle"></a>
          <a href="#" class="button start-stop" data-method="toggle"></a>
          <a href="#" class="button speed-33 on"></a>
          <a href="#" class="button speed-45"></a>
          <div class="light light-on"></div>
          <a href="#" class="button light"></a>
          <div class="tonearm-holder">
            <div class="tonearm"></div>
          </div>
        </div>

      </div>

    </div>

    <div>
      <br>
      <br>
      <!-- end turntable -->
      <br>
      <br><br>
      <br><br>
      <br>
      <br>
      <br><br>
      <br><br>
      <br>    <br>
      <br><br>
      <br><br>
      <br>
      <br>
      <br><br>
      <br><br>

      <p class="indent" style="margin-top:-3%">Click a link to load it on the turntable.</p>

      <ul>
        <li><a href="http://freshly-ground.com/data/audio/sm2/Figub%20Brazlevi%C4%8D%20-%20Bosnian%20Syndicate.mp3" data-turntable="turntable-large" data-artwork="http://freshly-ground.com/data/image/sm2/trainyards-cover-640.jpg"><b>Figub Brazlevič</b> - Bosnian Syndicate</a> (<span title="Published under a Creative Commons BY-NC-ND license">BY-CC-ND license</span>, <a href="http://figubbrazlevic.bandcamp.com/track/bosnian-syndicate">via</a>)</li>
        <li><a href="http://freshly-ground.com/data/audio/sm2/Beckyoncé%20-%20Single%20Loser.mp3" data-turntable="turntable-large" data-artwork="http://freshly-ground.com/data/image/sm2/beckyonce.jpg">Beckyoncé - Single Loser (Put A Beck On It)</a> (<span title="Published under a Creative Commons BY-NC-SA license">BY-NC-SA license</span>, <a href="https://soundcloud.com/beckyonce/single-loser-put-a-beck-on-it" target="_blank">via</a>)</li>
        <li><a href="http://freshly-ground.com/data/audio/sm2/Chill With Schill (Summer 2012 Session Excerpt).mp3" data-turntable="turntable-large">Chill With Schill (Summer 2012 Session Excerpt)</a></li>
        <li><a href="http://freshly-ground.com/data/audio/sm2/SonReal%20-%20LA%20%28Prod%20Chin%20Injetti%29.mp3" data-turntable="turntable-large" data-artwork="http://freshly-ground.com/data/image/sm2/sonreal-onelongday-65.jpg">SonReal - L.A. (Prod. Injetti)</a></li>
      </ul>



    </div>

    <div style="clear:both;height:1em"></div>



  </div>
